.ux_divheightsrch
{
    height: 4px;
}
.ux_dvtabstop
{
    background: #000;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-left: 4px;
    padding-left: 4px;
    width: 100px;
}
.ux_divchkbxpop
{
    font: .75em 'lucida grande' ,tahoma,verdana,arial,sans-serif;
    border: 1px solid #ccc;
    border-collapse: collapse;
    height: 100px;
    left: 100px;
    overflow: auto;
}
.ux_divchkbxpop, #dvleftpanels3, #dvleftpanels2, #dvleftpanels1
{
    width: 200px;
}
#dvleftpanels4, #dvleftpanels3, #dvleftpanels2, #dvleftpanels1
{
    margin-left: 20px;
}
#dvleftpanels3, #dvleftpanels2, #dvleftpanels1
{
    float: left;
}
