.leftpanel
{
    width: 200px;
    float: left;
}

.centerpanel
{
    width: 600px;
    float: left;
    margin: 0px 20px 0px 20px;
}

.rightpanel
{
    width: 160px;
    float: left;
}

.TextboxSt
{
    border-collapse: collapse;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: .75em;
    border: 1px solid gray;
    padding: 6px;
    min-width: 300px;
}

.border
{
    border: 1px solid Gray;
    max-width: 200px;
}

.TextboxSt:hover
{
    border-color: #000;
    background-color: #DEE1E7;
}

.alignright
{
    text-align: right;
}

.alignleft
{
    text-align: left;
}

.setrightbg
{
    background-color: #fff;
    min-height: 400px;
    padding: 10px;
}

.checkboxlist
{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #000;
}

.gridclear
{
    border: none;
    border-collapse: collapse;
}

.gridrowdb
{
    background-color: #fff;
}

.gridrowdb:hover
{
    background-color: #DEE1E7;
}

.gridmain
{
    border-bottom: 1px solid #ccc;
    min-height: 100px;
    padding: 10px 5px 10px 5px;
}
.ulist, p, .ftblack, .fthlinkblack, .ftblackbd, .ftwhite, .ftwhitebd, .ftgray, .fthlinkblack, .fthlinkblackbd, .ftgraybd
{
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
}

p
{
    color: #333;
}

.ulist
{
    font-size: 0.75em;
    color: #333;
}

h1, h2, h3, h4
{
    color: Gray;
    font-family: "Segoe UI Light" , "Segoe UI" , "Segoe" , "Tahoma" , "Verdana" , "Arial" , "sans-serif";
    font-size: 1.825em;
    font-weight: 300;
    line-height: 1.25;
    margin: 0.25em 0 0.75em;
}

.ftblack, .fthlinkblack, .ftblackbd, .ftwhite, .ftwhitebd, .ftgray, .fthlinkblack, .ftgraybd
{
    font-size: 0.75em;
}

.ftblack, .fthlinkblack
{
    color: #000;
}

.ftblackbd
{
    color: #000;
    font-weight: bold;
}

.ftwhite
{
    color: #fff;
}

.ftwhitebd
{
    color: #fff;
    font-weight: bold;
}

.ftgray
{
    color: Gray;
}

.fthlinkblack
{
    text-decoration: none;
    color: #000;
}

.fthlinkblack:hover
{
    text-decoration: underline;
}

.fthlinkblackbd
{
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.fthlinkblackbd:hover
{
    text-decoration: underline;
}

.ftgraybd
{
    color: Gray;
    font-weight: bold;
}

.pwleft
{
    width: 230px;
    float: left;
}
.lcenter
{
    width: 900px;
    margin: 0 auto;
}
.flist
{
    list-style: none;
}
.style1
{
    width: 100%;
    border-collapse: collapse;
}
.mouseovernav
{
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: .75em;
    border-collapse: collapse;
    margin-right: 5px;
    background-color: #dee1e7;
}
.Stylea101
{
    color: #c00;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: .75em;
    text-decoration: none;
}
#loginleft
{
    border: 1px solid #ccc;
    float: left;
    background-color: #ccc;
    margin: 100px 10px 10px 10px;
    padding: 10px;
    border: 1px solid Gray;
}
#loginright
{
    border-left: 1px solid #ccc;
    min-height: 400px;
    float: right;
    width: 400px;
    margin: 10px;
    padding: 10px;
}
.ftblackwhite
{
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: .75em;
    border-collapse: collapse;
    color: #fff;
}
#cleftpanel
{
    float: left;
    background-color: #5b5b5b;
    width: 20%;
    height: 100%;
}
#crightpanel
{
    float: left;
    width: 80%;
    height: 100%;
}
#cbottompanel
{
    background-color: #fff;
}
.upperwrop
{
    height: 100%;
    width: 98%;
    background-color: #5b5b5b;
    margin: 0 auto;
}
.mouseoutnav
{
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: .75em;
    border-collapse: collapse;
    margin-right: 5px;
    background-color: gray;
}
.pdleft4
{
    padding-left: 4px;
}
.rstpwdsetleftdiv
{
    float: left;
    width: 100px;
    vertical-align: middle;
}
.setrightdiv
{
    float: right;
    vertical-align: bottom;
    width: 20px;
}
.setrightdiva
{
    float: left;
    width: 20px;
    height: 20px;
}
.setrightdivb
{
    float: left;
    height: 20px;
}
.rstpwdsetleftdivw1
{
    float: left;
    width: 50px;
}
.box2
{
    height: 450px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
}
body
{
    margin-right: 0;
    margin-left: 0;
}
.banner
{
    background-color: #ccc;
    text-align: left;
}
.ftlabel
{
    padding-right: 20px;
    float: left;
}
.pgwidthset
{
    float: left;
    width: 100%;
}
.leftsbanner
{
    width: 200px;
    height: 50px;
}
.marker
{
    float: left;
    width: 5px;
    height: 50px;
}
.header
{
    float: left;
    width: 500px;
    height: 50px;
}
.hright2
{
    padding-top: 10px;
    float: left;
    text-align: right;
    padding-bottom: 2px;
    vertical-align: bottom;
    width: 380px;
}
.jbfooter
{
    padding-bottom: 2px;
    vertical-align: middle;
    width: 1000px;
    margin: 0 auto;
}
.dvbrker12
{
    height: 1px;
}
.topwrap
{
    margin-top: -10px;
    margin-bottom: 20px;
}
#topwrapper
{
    height: 24px;
    padding-left: 10px;
    text-align: left;
    background-color: #000;
    margin: 0 auto;
}
.tpbar
{
    height: 20px;
}
.leftdiv
{
    width: 100%;
}
.fontredh1
{
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 16px;
    color: #c00;
    text-decoration: none;
}
.fontgray
{
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: .75em;
    color: gray;
    font-style: italic;
    border-bottom: 1px dashed #000;
    border-top: none;
    border-right: none;
    border-left: none;
}
.googads
{
    width: 100%;
    height: 500px;
    background-color: #f5f5f5;
}
.align_frec
{
    border: 1px solid #ccc;
    width: 594px;
    background-color: #f5f5f5;
}
.left_align_frec
{
    float: left;
    width: 100px;
    padding: 4px;
}
.right_align_frec
{
    float: left;
    width: 450px;
}
.ln_ccc
{
    margin-top: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #ccc;
}
.simplecleargreyln
{
    border-top: 1px solid gray;
    width: 100%;
    margin: 0 auto;
}
.recbgstytle
{
    background-color: #c00;
    height: 20px;
    color: #fff;
    padding-top: 4px;
    padding-left: .75em;
}
.contactstylist
{
    height: 40px;
    width: 300px;
    border: 1px solid #dedede;
    text-align: center;
    margin: 30px;
    padding: 30px 20px 10px;
}
.divsimpleboxchart
{
    border: 1px solid #dedede;
    padding: 2px;
}
.divback
{
    vertical-align: middle;
    background-color: #c00;
    border-top: 4px solid #000;
    height: 20px;
    padding-left: 6px;
}
.searchtextboxline
{
    border-bottom: 1px dashed #000;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background: transparent;
}
.simpleboxdetail
{
    border: 1px solid gray;
    min-height: 400px;
    padding: 10px;
}
.boxcorner
{
    border: 1px solid gray;
    padding: 4px;
}
.divsimpleboxlight
{
    margin-top: 2px;
    background: #eeeee0;
    border: 1px solid gray;
    padding: 2px;
}
.simplefontblack
{
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: .75em;
    color: #000;
}
.blackh2
{
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: .75em;
    color: #000;
    text-decoration: none;
}
.simplefontwhite
{
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: .75em;
    color: #fff;
    text-decoration: none;
}
.simplefontblackbld
{
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: .75em;
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

.PagerStyle
{
    text-align: center;
    margin-top: 10px;
    float: left;
}

.PagerStyle a:hover
{
    background-position: center;
    background-repeat: repeat-x;
    background-color: #c00000;
    font-family: Arial;
    font-size: .75em;
    color: #fff;
    text-decoration: none;
    border: 1px solid gray;
    padding: 1px 8px;
}

.PagerStyle a
{
    background-position: center;
    background-repeat: repeat-x;
    background-color: #fff;
    font-family: Arial;
    font-size: .75em;
    color: #000;
    text-decoration: none;
    border: 1px solid gray;
    padding: 1px 8px;
}

.PagerStyle span
{
    background-position: center;
    background-repeat: repeat-x;
    background-color: #c00000;
    font-family: Arial;
    font-size: .75em;
    color: #fff;
    text-decoration: none;
    border: 1px solid gray;
    padding: 1px 8px;
}

.button
{
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #999;
    color: #000;
    font-size: 1em;
    font-family: arial,serif;
    background-color: #F5F5F5;
    padding: 6px;
}
.button:hover
{
    color: #fff;
    background-color: #CC0000;
}
.button:active
{
    color: #fff;
    background-color: #a5a5a5;
}
.tpboundbrdrmover
{
    background: #cdc5bf;
    border-bottom: 1px dotted #000;
    width: 210px;
}
.tpboundbrdr
{
    border-bottom: 1px dotted #000;
    width: 210px;
}

#internalclm
{
    padding-right: 10px;
}
.lftp2
{
    padding-left: 1px;
    padding-bottom: 1px;
    vertical-align: middle;
}
.gridloadcent
{
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
.alignleft
{
    vertical-align: middle;
    padding: 0;
}
.setpxline
{
    height: 4px;
}
.imgborder
{
    border-color: gray;
    border-width: 1px;
}
.ncprog
{
    padding-left: 10px;
}
.ncprog1
{
    padding-right: 4px;
    float: right;
}
.boxmid
{
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 2px;
}
.box3
{
    width: 150px;
    background: #eee;
    color: #444;
    border: 1px solid #dedede;
    padding: 2px;
}
.mainsrchdivs
{
    border-right-width: 1px;
    border-right-color: gray;
    border-right-style: solid;
    border-left-width: 1px;
    border-left-color: gray;
    border-left-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}
.divchkbxpop
{
    left: 100px;
    height: 108px;
    overflow: auto;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: .75em;
    border-collapse: collapse;
    max-width: 200px;
}
.browser
{
    float: right;
    margin-top: -4px;
    height: 14px;
    padding-right: 4px;
}
.rstpwdsetlu, .rights, #divftsleft10, #dftimprovelft, .dvleft
{
    float: left;
}
.setheight, .divheightsrch
{
    height: 10px;
}
.activateactopbanner, .weblogheader
{
    background-color: gray;
    height: 16px;
    padding-left: 4px;
    vertical-align: middle;
}
.cleardata, #dvclear
{
    clear: both;
}
#dftimprovert, .dvright
{
    float: right;
    padding: 2px 4px 0 0;
}
.Stylea101:hover, .fontredh1:hover, .blackh2:hover, .simplefontblackbld:hover
{
    text-decoration: underline;
}
.ftblack, .stylea3modified
{
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: .75em;
    border-collapse: collapse;
}
