.recdetlsStyle1
{
    width: 300px;
    border-collapse: collapse;
}
.recdtlspixln
{
    height: 4px;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
}
#recheightfix
{
    margin-top: 10px;
    left: 100px;
    height: 400px;
    overflow: auto;
    border-collapse: collapse;
}
.simplyleftw100
{
    float: left;
    width: 100px;
}
.divbreak
{
    left: 0;
}
.setrightdiva
{
    float: left;
    width: 20px;
    height: 20px;
}
.setl
{
    height: 20px;
    width: auto;
}
.setleftdiv
{
    float: left;
    width: 100px;
    padding-left: 4px;
    vertical-align: middle;
}
.setleftdivw1
{
    float: left;
    width: 50px;
}
.box2
{
    height: 450px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
}
.jdetstylelf
{
    float: left;
    background-color: #f0f0f0;
    width: 100px;
}
.jdetstylerf
{
    left: 100px;
    background-color: #f0f0f0;
    width: 100%;
}
.jdetstyle7
{
    padding-left: 40px;
    background-color: #fff;
}
.jdetstyle7a
{
    padding-left: 20px;
    background-color: #fff;
    padding-right: 20px;
}
.jdetstyle8
{
    height: 19px;
}
.jobdetailbr
{
    height: 4px;
}
.jdettopnav
{
    height: 16px;
    padding-left: 4px;
    vertical-align: middle;
    background-color: gray;
}
.lpad1
{
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Stylear1
{
    color: #000;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    border-collapse: collapse;
}
.styledbordertp1
{
    float: left;
    width: 100px;
    padding-left: 40px;
    background-color: #fff;
}
.styledbordertp
{
    float: left;
    width: 100px;
    background-color: #fff;
}
.styledborder
{
    float: left;
    width: 500px;
    background-color: #fff;
}
.cleardatamore
{
    float: left;
    width: 100%;
    height: 10px;
}
#dpabar
{
    width: 950px;
    height: 8px;    
    background-color: #ccc;
    margin: 0 auto;
}
#reportpg
{
    float: right;
    height: 100px;
    width: 200px;
    margin-top: 20px;
    border-left: 1px dotted gray;
    padding: 4px 40px 0;
}
#jobdetaillt
{
    width: 700px;
    float: left;
}
.confstyle7
{
    width: 100%;
    border-collapse: collapse;
}
.pdleft4
{
    padding-left: 4px;
}
.fontred:hover
{
    text-decoration: underline;
}
.jobdfttop:hover
{
    color: #fff;
}
.jobdfttop
{
    color: #ccc;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.csslinkrec
{
    color: gray;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
}
.csslinkrecover
{
    color: #000;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
}
.lowerbrdrdotted
{
    color: #000;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.dftbgmenucolor
{
    background-color: #bcc7d8;
    color: #000;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    border-bottom-width: 1px;
    border-bottom-color: gray;
    border-bottom-style: dotted;
    text-decoration: none;
}
.StyleRa1
{
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    border-collapse: collapse;
}
.addcustline
{
    border-top-style: solid;
    border-top-width: 1px;
    color: gray;
    border-collapse: collapse;
}
.StyleRa2
{
    border-top-style: solid;
    border-top-width: 2px;
    border-collapse: collapse;
}
.Stylea1
{
    color: #fff;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    border-collapse: collapse;
}
.Stylea101
{
    color: #069;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
}

.Stylea3
{
    background-color: #fff;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    border-collapse: collapse;
}
.Styleatext3
{
    background-color: #f8f8fa;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    height: 20px;
    border-collapse: collapse;
}
.textexte3
{
    background-color: #eee;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    height: 20px;
    border-collapse: collapse;
}
.Stylea42
{
    background-color: #069;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    border-collapse: collapse;
    height: 20px;
    width: 17px;
}
.Stylea4
{
    background-color: #069;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    border-collapse: collapse;
    height: 20px;
    text-align: left;
}
.Stylea5
{
    color: #069;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: xx-large;
}
.Stylea6
{
    color: gray;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: xx-small;
}
.Stylea7
{
    color: gray;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    border-collapse: collapse;
}
.Stylea8
{
    color: #000;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    border-collapse: collapse;
    background-color: #fff;
}
.Stylea801
{
    color: #1c5786;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    border-collapse: collapse;
}
.Styleag1
{
    color: gray;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
}
.styledc3
{
    background-color: #f8f8fa;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    border-collapse: collapse;
    height: 44px;
}
.styledc4
{
    width: 4px;
    color: #fff;
    background-color: #fff;
}
.styledc6
{
    width: 200px;
    color: #f5e38a;
    text-align: center;
}
.headingone, .fontred
{
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #c00;
}
.Stylea2, .Stylea9
{
    color: #000;
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
    border-collapse: collapse;
}
.recdtljustbrk, .setheight
{
    height: 10px;
}
.pwdchgtopbans, .conftopbans, .activateactopbanner
{
    background-color: gray;
    height: 16px;
    padding-left: 4px;
    vertical-align: middle;
}
.leftheader, .simplyleft
{
    float: left;
}
.leftdiv, .styledc1
{
    width: 100%;
}
