.ux_recdetlsStyle1, #recheightfix, .ux_Stylear1, .ux_confstyle7, .ux_StyleRa1, .ux_line_gray, .ux_StyleRa2, .ux_Stylea1, .ux_Stylea3, .ux_Styleatext3, .ux_textexte3, .ux_Stylea42, .ux_Stylea4, .ux_Stylea7, .ux_Stylea8, .ux_Stylea801, .ux_styledc3, .ux_Stylea9, .ux_Stylea2
{
    border-collapse: collapse;
}
.ux_recdetlsStyle1
{
    width: 300px;
}
.ux_recdtlspixln
{
    border-bottom-color: #000;
    border-bottom-style: solid;
}
.ux_recdtlspixln, .ux_dftbgmenucolor
{
    border-bottom-width: 1px;
}
.ux_recdtlspixln, .ux_jobdetailbr
{
    height: 4px;
}
.ux_recdtlspixln, .ux_jdetstylerf, .ux_cleardatamore, .ux_confstyle7, .ux_styledc1, .ux_leftdiv
{
    width: 100%;
}
#recheightfix
{
    height: 400px;
    margin-top: 10px;
    overflow: auto;
}
#recheightfix, .ux_jdetstylerf
{
    left: 100px;
}
.ux_simplyleftw100, .ux_setrightdiva, .ux_setleftdiv, .ux_setleftdivw1, .ux_jdetstylelf, .ux_styledbordertp1, .ux_styledbordertp, .ux_styledborder, .ux_cleardatamore, #jobdetaillt, .ux_simplyleft, .ux_leftheader
{
    float: left;
}
.ux_simplyleftw100, .ux_setleftdiv, .ux_jdetstylelf, .ux_styledbordertp1, .ux_styledbordertp
{
    width: 100px;
}
.ux_divbreak
{
    left: 0;
}
.ux_setrightdiva, .ux_setl, .ux_Styleatext3, .ux_textexte3, .ux_Stylea42, .ux_Stylea4
{
    height: 20px;
}
.ux_setrightdiva
{
    width: 20px;
}
.ux_setl
{
    width: auto;
}
.ux_setleftdiv, .ux_jdettopnav, .ux_pdleft4, .ux_activateactopbanner, .ux_conftopbans, .ux_pwdchgtopbans
{
    padding-left: 4px;
}
.ux_setleftdiv, .ux_jdettopnav, .ux_activateactopbanner, .ux_conftopbans, .ux_pwdchgtopbans
{
    vertical-align: middle;
}
.ux_setleftdivw1
{
    width: 50px;
}
.ux_box2
{
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    height: 450px;
}
.ux_jdetstylelf, .ux_jdetstylerf
{
    background: #f0f0f0;
}
.ux_jdetstyle7, .ux_jdetstyle7a, .ux_styledbordertp1, .ux_styledbordertp, .ux_styledborder, .ux_Stylea3, .ux_Stylea8, .ux_styledc4
{
    background: #fff;
}
.ux_jdetstyle7, .ux_lpad1, .ux_styledbordertp1
{
    padding-left: 40px;
}
.ux_jdetstyle7a
{
    padding-left: 20px;
    padding-right: 20px;
}
.ux_jdetstyle8
{
    height: 19px;
}
.ux_jdettopnav, .ux_activateactopbanner, .ux_conftopbans, .ux_pwdchgtopbans
{
    background: gray;
    height: 16px;
}
.ux_lpad1
{
    padding-bottom: 20px;
    padding-top: 20px;
}
.ux_Stylear1, .ux_csslinkrecover, .ux_lowerbrdrdotted, .ux_dftbgmenucolor, .ux_Stylea8, .ux_Stylea9, .ux_Stylea2
{
    color: #000;
}
.ux_Stylear1, .ux_jobdfttop, .ux_csslinkrec, .ux_csslinkrecover, .ux_lowerbrdrdotted, .ux_dftbgmenucolor, .ux_StyleRa1, .ux_Stylea1, .ux_Stylea101, .ux_Stylea3, .ux_Styleatext3, .ux_textexte3, .ux_Stylea42, .ux_Stylea4, .ux_Stylea7, .ux_Stylea8, .ux_Stylea801, .ux_Styleag1, .ux_styledc3, .ux_fontred, .ux_headingone, .ux_Stylea9, .ux_Stylea2
{
    font-size: 13px;
}
.ux_styledborder
{
    width: 500px;
}
.ux_cleardatamore, .ux_setheight, .ux_recdtljustbrk
{
    height: 10px;
}
#dpabar
{
    background: #ccc;
    height: 8px;
    margin: 0 auto;
    width: 950px;
}
#reportpg
{
    border-left: 1px dotted gray;
    float: right;
    height: 100px;
    margin-top: 20px;
    padding: 4px 40px 0;
}
#reportpg, .ux_styledc6
{
    width: 200px;
}
#jobdetaillt
{
    width: 700px;
}
.ux_fontred:hover
{
    text-decoration: underline;
}
.ux_jobdfttop:hover, .ux_Stylea1, .ux_styledc4
{
    color: #fff;
}
.ux_Stylea9, .ux_Stylea2, .ux_fontred, .ux_headingone, .ux_styledc3, .ux_Styleag1, .ux_Stylea801, .ux_Stylea8, .ux_Stylea7, .ux_Stylea6, .ux_Stylea5, .ux_Stylea4, .ux_Stylea42, .ux_textexte3, .ux_Styleatext3, .ux_Stylea3, .ux_Stylea101, .ux_Stylea1, .ux_StyleRa1, .ux_dftbgmenucolor, .ux_lowerbrdrdotted, .ux_csslinkrecover, .ux_csslinkrec, .ux_jobdfttop, .ux_Stylear1
{
    font-family: 'Lucida Grande' ,Tahoma,Verdana,Arial,sans-serif;
}
.ux_jobdfttop
{
    color: #ccc;
}
.ux_jobdfttop, .ux_lowerbrdrdotted, .ux_dftbgmenucolor, .ux_fontred, .ux_headingone
{
    text-decoration: none;
}
.ux_csslinkrec, .ux_line_gray, .ux_Stylea6, .ux_Stylea7, .ux_Styleag1
{
    color: gray;
}
.ux_csslinkrec, .ux_csslinkrecover
{
    font-weight: 700;
}
.ux_dftbgmenucolor
{
    background: #bcc7d8;
    border-bottom-color: gray;
    border-bottom-style: dotted;
}
.ux_line_gray, .ux_StyleRa2
{
    border-top-style: solid;
}
.ux_line_gray
{
    border-top-width: 1px;
}
.ux_StyleRa2
{
    border-top-width: 2px;
}
.ux_Stylea101, .ux_Stylea5
{
    color: #069;
}
.ux_Styleatext3, .ux_styledc3
{
    background: #f8f8fa;
}
.ux_textexte3
{
    background: #eee;
}
.ux_Stylea42, .ux_Stylea4
{
    background: #069;
}
.ux_Stylea42
{
    width: 17px;
}
.ux_Stylea4
{
    text-align: left;
}
.ux_Stylea5
{
    font-size: xx-large;
}
.ux_Stylea6
{
    font-size: xx-small;
}
.ux_Stylea801
{
    color: #1c5786;
}
.ux_styledc3
{
    height: 44px;
}
.ux_styledc4
{
    width: 4px;
}
.ux_styledc6
{
    color: #f5e38a;
    text-align: center;
}
.ux_fontred, .ux_headingone
{
    color: #c00;
}
